<h1>Add a bike</h1>
<%= form_for @bicycle do |b| %>
  Description: <%= b.text_field :description %> <br>
  Image url: <%= b.text_field :url %> <br>
  Price: <%= b.text_field :price %> <br>
  <%= b.submit %>
<% end %>
